{% extends "base.html" %}
{% block content %}

  <div class="main-container">
    <div>
      <a href="/" class="button is-text">&lt; return to main menu</a>
    </div>
    <h1 class="title">Prediction</h1>
 
    <div>
        <button type="button" class="button is-success" onclick="onshow()">show attention maps</button>
    </div>

    <div class="canvas">
      <ul class="canvas_container">
      </ul>
    </div>
  </div>

  <script src="static/data.js"></script>
  <script>
    function onshow(){
      var container = document.querySelector('.canvas .canvas_container');
      var imgsrc = JSON.parse('{{ res | tojson | safe}}').imgs
      console.log(imgsrc)
      for (var i=0; i<imgsrc.length; i++){
        var newLi = document.createElement('li');
        var newImage = document.createElement('img');
        newImage.src = imgsrc[i];
        newLi.appendChild(newImage);
        container.appendChild(newLi);
      }
    }
  </script>

{% endblock %}